.sidebarOption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
    transition: .4s;
}
.sidebarOption:hover{
    background: #fcecec;
    color: #c04b73;
    font-weight: 800;
}
.option__silected{
    background: #fcecec;
    color: #c04b73;
    font-weight: 800;
}
.sidebarOption p{
    display: none;
    font-weight: 300;
    transition: .4s;
}
.sidebarOption:hover p{
    display: inline;
}
.option__silected p{
    display: inline !important;
}
.sidebarOption h3{
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}